body {
  background: #e4be93;
  text-align: center;
}

h1,
p,
a {
  color: rgb(95, 63, 21);
}

a {
  margin: 0 10px;
}

.croissant {
  max-width: 50%;
  max-height: 70%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}
